*{
  font-family: "Bagel Fat One", system-ui;
}
body {
  margin: 0;
  background-color:  #fff5fa;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo{
  font-weight: 500;
  text-align: center;
  width: 60%;
  height: 50px;
  background:  #e8d7f1;
  box-shadow: 0 5px 10px #c9afd5;
  border-radius: 10px;
  padding: 20px;
  margin: 30px 0 10px 0;

}

.calculadora {
  width: 320px;
  padding: 20px;
  margin-top: 20px;

  background-color: #cdb4db;
  box-shadow: 0 5px 10px #b69ac2;
  border-radius: 10px;
}

#pantallaTotal {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  background-color:  #fdebf5;
  color: #594568;
  padding: 10px;

  font-size: 30px;
  text-align: right;
  border: 5px inset #a98bc4;
  border-radius: 10px;
}

.botones{
  display: grid; 
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  
  border: 5px solid #a98bc4;
  border-radius: 10px; 

  padding: 20px;
  margin: 10px auto;
  width: 260px;
  background-color: #d9c3e2;

}

.botones button {
  background-color: #f8e1f4;
  border: none;
  box-shadow: 0 2px 5px  #a98bc4;
  border-radius: 50px;
  padding: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.4s;
}

.igual{
  grid-column: span 2;
}

.suma{
  grid-row: span 2;
}

.botones button:hover {
  background-color: #C5BAFF; 
  transform: translateY(
    -3px
  ); 
}

