#titulo {
  color: tomato;
}

p.texto {
  /* parrafo  donde la clase tenga la palabra texto */
  color: slateblue;
}

p.especial {
  /* parrafo donde la clase tenga la palabra especial */
  color: darkorange;
}

div p {
  /* parrafo dentro de un div */
  color: darkgreen;
}

div h2,
div h3 {
  /* h2 dentro de un div */
  color: blueviolet;
}

* {
  font-size: 24px;
  color: black;
}
.color {
  /* border: 5px violet inset; */
  /*
    dotted
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden
    */
  border-style: solid;
  border-color: violet;
  border-radius: 5px;
  border-width: 10px;
}

#fondo {
  background-color: rgba(255, 0, 0);
  height: 200px;
  background: #f00 url("coffee.png") repeat-y center top; /*color de fondo, imagen, no repetir, posicionar*/
  background-size: 100px 100px; /* tamaño de la imagen de fondo */
}
.margen {
  background-color: rgb(238, 198, 169);
  margin: 15px; /* top right bottom left */
  padding: 30px 15px 5px; /* top right bottom left */
  border: solid 5px rgb(8, 17, 155);
  height: 100px;
  width: 50px;
  overflow: scroll; /* ocultar contenido que se salga del div */
  outline: 5px solid rgb(255, 0, 0); /* borde fuera del div */
}

.text {
  font-family: "rubik spray paint"; /* tipo de letra */
  text-align: center;
  text-decoration: overline; /* none, underline, overline, line-through */
  text-shadow: 3px 5px 5px blue; /* horizontal vertical color */
}

a:link {
  color: blueviolet; /*color del link*/
}

a:visited {
  color: palevioletred; /*color del link al haberlo visitado*/
}

a:active {
  color: greenyellow; /*color del link al darle click*/
}

a:hover {
  color: lightskyblue; /*color del link al pasar el mouse por encima*/
}

ul {
  background-color: chocolate;
  list-style-type: lower-roman;
  /* padding-left: 0; */
  /* list-style-position: inside; */
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: solid 4px burlywood;
  padding: 10px;
}

th {
  background-color: tomato;
  color: white;
  text-align: left;
}

tr:hover {
  background-color: lightgray;
  cursor: pointer;
}

tr:nth-child(even) {
  /*odd=impar,  even= par*/
  background-color: #f1cccc;
}

span{
  display: block;
  /* display: none; */
  /* visibility: hidden; no se muestran elementos */
  max-width: 300px;
  background-color: lightpink;

}

.inline{
  display: inline;
}

#position{
  /* position: fixed; fijado */
  /* position: absolute;  */
  position: sticky; 
  left: 20px;
  top: 30px;
}

.left{
  float: left;
  width: 200px;
  height: 200px;
}

.container{
  height: 200px;
}

.right{
  float: right;
}

.column{
  margin: 0 ;
  padding: 10px 0px;
  width: 33.3%;
}

.inline-block{
  display: inline-block;
  height: 55px;
  background-color: darkmagenta;
}
.center{
  width: 200px;
  margin: 0 auto;
  background-color: aquamarine;
  text-align: center;
  padding: 50px 0;

}