* {
  font-family: "Bagel Fat One", system-ui;
}

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #F8EEDC;
}

.contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculadora {
  width: 320px;
  padding: 20px;
  background-color: #EED8F7;
  box-shadow: 0 5px 10px rgb(161, 153, 153);
  border-radius: 10px;
}

.titulo {
  font-family: "Bagel Fat One", system-ui;
  color: #4B5275;
  font-weight: 400;
  text-align: center;
  width: 100%;
  height: 50px;
  background: #D5DBF7;
  box-shadow: 0 5px 10px rgb(199, 149, 247);
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
}

#pantallaTotal {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  background-color: #DFF1F7;
  color: #30364A;

  padding: 10px;

  font-size: 30px;
  text-align: right;

  border: 5px inset rgb(234, 179, 247);
  border-radius: 10px;
}

.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
  background-color: rgb(243, 219, 253);

  border: 5px inset rgb(234, 179, 247);
  padding: 20px;

  margin: 10px auto;
  width: 260px;
  border-radius: 10px;
}

.botones button {
  background-color: rgb(217, 183, 233);
  border: 5px  #8B6F9D;
  box-shadow: 0 2px 5px rgb(131, 104, 134);
  border-radius: 10px;
  padding: 15px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.4s;
}

.botones button:hover {
  background-color: rgb(234, 179, 247);
  transform: translateY(-3px);
}
